<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
    <h1 sty>Notas Estudiantes </h1>

    <div class="prueba">
        <label>Matemáticas:</label>
        <input type="number" [(ngModel)]="a"  style="width: 25em;" placeholder="Digite su nota no mayor a 250 puntos"  class="form-control" id="prueba" >
      </div>


      <div class="prueba">
          <label>Lenguaje:</label>
          <input type="number" [(ngModel)]="b" style="width: 25em;" placeholder="Digite su nota no mayor a 250 puntos"  class="form-control" id="prueba" >
        </div>


        <div class="prueba">
            <label>Sociales:</label>
            <input type="number" [(ngModel)]="c" style="width: 25em;" placeholder="Digite su nota no mayor a 250 puntos"  class="form-control" id="prueba" >
          </div>


          <div class="prueba">
              <label>Ciencias Naturales:</label>
              <input type="number" [(ngModel)]="d" style="width: 25em;" placeholder="Digite su nota no mayor a 250 puntos"  class="form-control" id="prueba" >
            </div>

            <h6> Resultado:{{resultado}} </h6>

    <div >
    <button (click)="calculo()" class="btn btn-primary">Calcular</button>

  </div>



</body>
